<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="popup.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald|Roboto:400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <!-- <notification step="1" brand="Wave City"></notification> -->
      <!-- <multi-tab></multi-tab> -->
      <!-- <calling-card
        clientname="Gold Gym"
        heading="Calling"
        connecting
        loader
        connecting-error="Please allow for the mic’s  permission when prompted by the browser."
      ></calling-card> -->
      <permission-card
        heading="Unable to Connect"
        desc="Other user has not given permission to mic’s access"
        type="Very slow internet"
        icon
      ></permission-card>
    </div>
    <script type="text/x-template" id="notification">
      <div class="modal show-modal">
        <div class="modal-content">
          <main v-if="step == 1 || step == 2">
            <form autocomplete="on" v-if="step == 1">
              <h2 class="main-heading">
                <span> {{brand}}</span> <br />
                Welcomes You
              </h2>
              <p>
                Our virtual tour guide would like to <br />
                know you better.
              </p>
              <input
                type="text"
                name="name"
                aria-placeholder="Your name"
                placeholder="Your Name (Optional)"
                class="input-single"
              />
              <div class="btn-group">
                <a class="btn btn-primary">Continue</a>
              </div>
            </form>
            <!-- Form Step 2 -->
            <form autocomplete="on" v-if="step == 2">
              <h2 class="main-heading">
                We will call you back :)
              </h2>
              <input
                type="text"
                name="name"
                aria-placeholder="Your name"
                placeholder="Your Name (Optional)"
              />
              <input
                type="text"
                name="name"
                aria-placeholder="Your mobile"
                placeholder="Mobile Number"
              />
              <div class="btn-group">
                <a class="btn btn-primary">Submit</a>
              </div>
            </form>
          </main>
          <!-- Final Submit -->
          <main class="success-main" v-if="step == 3">
            <div class="heading">
              <img src="assets/tick.svg" alt="success" class="success" />
              <h2 class="final-submit">
                Inquiry Submitted
              </h2>
            </div>
            <span class="para">We will get back to you at the earliest</span>
          </main>
        </div>
      </div>
    </script>
    <!-- multitab popup -->
    <script type="text/x-template" id="multi-tab">
      <div class="modal show-modal">
        <div class="modal-content multi-tabs">
          <main>
            <p>
              Kubma Tour is open in another window. Click “Use Here” to use Kubma
              Tour in this window.
            </p>
            <div class="btn-group">
              <a class="btn btn-secondary">Close</a>
              <a class="btn btn-primary">Use Here</a>
            </div>
          </main>
        </div>
      </div>
    </script>
    <!-- Calling Card -->
    <script type="text/x-template" id="calling-card">
      <div class="modal calling show-modal">
        <div class="modal-content">
          <main class="">
            <h2 class="main-heading loading">
              {{heading}}
            </h2>
            <p v-if="incoming">
              {{clientname.split(' ')[0]}}’s {{clientname.split(' ')[1]}} is keen to interact with you & help you explore their
              place.
            </p>
            <div class="btn-group" v-if="incoming">
              <a class="btn btn-cancel">
                <img src="assets/cancel.svg" alt="cancel calling" width="30" />
                <p>Reject Call</p>
              </a>
              <a class="btn btn-receive">
                <img src="assets/receive.svg" alt="receive calling" width="30" />
                <p>Accept Call</p>
              </a>
            </div>
            <p v-if="loader">
              <img src="assets/loader.svg" alt="loader" class="loader" />
            </p>
            <p v-if="connecting">
              {{connectingError}}
            </p>
            <div class="btn-group connecting" v-if="calling">
              <a class="btn btn-cancel">
                <img src="assets/cancel.svg" alt="cancel calling" width="30" />
                <p>Disconnect Call</p>
              </a>
            </div>
          </main>
        </div>
      </div>
    </script>
    <!-- Error/Permission Card -->
    <script type="text/x-template" id="permission-card">
      <div class="modal permission show-modal">
        <div class="modal-content">
          <main class="">
            <h2 class="main-heading">
              {{heading}}
            </h2>
            <p>
              <img src="assets/error.svg" alt="error" width="30">
              <span>Very slow internet</span>
            </p>
            <div class="btn-group">
              <a class="btn btn-try">
                Try Again
              </a>
            </div>
          </main>
        </div>
      </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
